.wp-block-button .wp-block-button__link,
.editor-styles-wrapper .wp-block-button .wp-block-button__link {
	color: var(--wp--preset--color--white);
}

.wp-block-button.is-style-arrow .wp-block-button__link,
.editor-styles-wrapper .wp-block-button.is-style-arrow .wp-block-button__link {
	color: var(--wp--preset--color--white);
	font-weight: 700;
}

.wp-block-button.is-style-arrow .wp-block-button__link::after,
.editor-styles-wrapper .wp-block-button.is-style-arrow .wp-block-button__link::after {
	content: "";
	display: flex;
	width: 1rem;
	height: 1rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' fill='none'%3E%3Cpath fill='%23F0F6FC' d='M5.267 14.067a.81.81 0 0 1-.25-.592c0-.228.083-.425.25-.592L10.15 8l-4.9-4.9a.791.791 0 0 1-.233-.583c0-.234.083-.434.25-.6a.81.81 0 0 1 .592-.25c.228 0 .425.083.591.25l5.6 5.616a.59.59 0 0 1 .142.217.723.723 0 0 1 .041.25.733.733 0 0 1-.042.25.592.592 0 0 1-.14.217l-5.618 5.616a.782.782 0 0 1-.575.234.807.807 0 0 1-.591-.25Z'/%3E%3C/svg%3E");
}
